@tailwind base;
@tailwind components;
@tailwind utilities;

.dark {
  background-color: #121212;
  color: white;
}

.light-mode {
  @apply bg-light text-gray-900;
}

.hover\:shadow-gradient-to-l:hover {
  box-shadow: 0 4px 6px -1px rgba(171, 64, 244, 0.7),
    0 2px 4px -2px rgba(171, 64, 244, 0.7),
    0 4px 6px -1px rgba(0, 206, 201, 0.7), 0 2px 4px -2px rgba(0, 206, 201, 0.7);
}

.typing-container {
  display: inline-block; /* Pastikan kontainer mengikuti lebar konten */
  overflow: hidden;
  border-right: 0px solid black; /* Tambahkan garis tepi untuk efek kursor */
  white-space: nowrap;
  animation: typing 3s steps(30, end) forwards,
    blink-caret 0.75s step-end infinite;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: black;
  }
}

.text-glow {
  color: rgba(137, 255, 27, 0.982);
  transition: color 2s ease-in-out;
}

.navbar-fixed {
  @apply fixed z-[9999] bg-opacity-60 backdrop-blur-lg shadow-lg;
}

.hamburger-menu {
  @apply block w-[33px] h-[3px] bg-primary my-2;
}

.hamburger-active > span:nth-child(1) {
  @apply rotate-45;
}
.hamburger-active > span:nth-child(2) {
  @apply scale-0;
}
.hamburger-active > span:nth-child(3) {
  @apply -rotate-45;
}
